h1{
    font-family: 'Fredoka One', cursive;
}

.container{
    border:2px dashed black;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

td{
    padding:10px;
    border:1px solid black;
}

a:hover {
    color: orange;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
  }

li.accent{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:red;

  }